fastapi>=0.111.0
uvicorn[standard]>=0.29.0
motor>=3.4.0
beanie==1.26.0
pydantic[email]>=2.7.0
pydantic-settings>=2.2.0
python-jose[cryptography]>=3.3.0
bcrypt>=4.0.0,<5.0.0
aiosmtplib>=3.0.0
python-multipart>=0.0.9
aiofiles>=23.2.1
python-dotenv>=1.0.1
itsdangerous>=2.0.0
tzdata>=2024.1
starlette-admin>=0.14.0
